:root{
  --primary: #86b817
  --secondary: #fe8800
  --light: #f5f5f5
  --dark: #14141f
}
/*==================== hreo-header=======================*/
.hero-header{
    background: url(https://www.iguazufallstravel.info/wp-content/uploads/2016/09/waterfall-980.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-header:hover{
  background-size: 110% 110%;
}
#home h1{
  color: white;
  font-size: 90px;
  letter-spacing: 3px;
  text-shadow: 0px 1px 0px #1b1a1a,
  0px 2px 0px #1b1a1a,
  0px 3px 0px #1b1a1a,
  0px 4px 0px #1b1a1a,
  0px 5px 0px #1b1a1a,
  0px 6px 0px #1b1a1a,
  0px 7px 0px #1b1a1a
}
#home .btn:hover{
  background-color: rgb(51, 138, 97);
}
#about p{
  text-align: justify;
  word-spacing: 1px;
}
#about .btn:hover{
  background-color: rgb(51, 138, 97);
}

/*=============== services =================*/
.service-item{
    background: white !important;
    border: none !important;
    box-shadow:15px 20px 20px rgba(163, 252, 237, 0.3),
               inset 4px 4px 10px rgb(177, 250, 250);
    border-radius: 8% !important;           
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: .5s; 
}
.service-item:hover{
  box-shadow: inset 15px 10px 10px rgba(150, 243, 228, 0.3),
                -4px -4px 10px rgb(141, 229, 245);
    background-color:rgba(250, 213, 228, 0.445) !important;
    transition: .5s;
}
/* SERVICE SECTION ONLY */

#service .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#service .col-lg-3,
#service .col-sm-6 {
  display: flex;
}

#service .service-item {
  height: 100%;
  display: flex;
  flex-direction: column;
}



